* {
  margin: 0;
}

.navbars {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
header {
  max-width: 1600px;
  height: 400px;
  color: white;
  border: 1px solid black;
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 50px;
  background-color: rgb(112, 103, 91);
  background-image: url(image/header1.gif);
}

header button {
  width: 120px;
  height: 40px;
  background-color: brown;
  color: white;
  border-radius: 20px;
  border: none;
}

.new-post {
  margin-top: 50px;
}

.text-vlog {
  margin-top: 100px;
  margin-right: 100px;
}

.text-vlog button {
  background-color: orange;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.resent-vlog {
  margin: 100px;
  max-width: 1600px;
}

.box {
  width: 400px;
  height: auto;
  text-align: center;
}

.subscribe {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin: 100px 450px;
  text-align: center;
  background-color: chartreuse;
  border-radius: 20px;
}

footer {
  max-width: 1700px;
  height: 330px;
  border: 1px solid orange;
  background-image: url(image/css-goey-footer.gif);
}

footer h2 {
  margin-top: 280px;
  color: aqua;
}
